.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(160,78,100);
    color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  
  .card-hover{
    background:rgb(213,213,62, 0.3);
  }
  
  .cards{
    display: flex;
    flex-direction: column;
    text-align: center;
  }